/* Reset some default styles */
body, h1, ul, li, form {
  margin: 0;
  padding: 0;
}

/* Set a background color */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

/* Style the header with a centered title */
h1 {
  text-align: center;
  margin-top: 20px;
  color: #fff;
}h3 {
  text-align: center;
  margin-top: 20px;
  color: #fff;
}h4 {
  text-align: center;
  margin-top: 20px;
  color: #fff;
}

/* Style menu */
 ul {
  list-style: none;
  background-color: #6a17bd;
  text-align: left;
  padding: 10px;
}

ul li {
  display: inline;
}

 ul li a {
  text-decoration: none;
  color: #0;
}

/* Style the login form */
form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  margin: 20px auto;
  max-width: 400px;text-align:center; and margin: 0 auto; 
}

form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

form input[type="email"],
form input[type="password"],
form input[name="nom"],
form input[name="prenom"]{
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button[type="submit"] {
  background-color: #6a17bd;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

p{
text-align:center; and margin: 0 auto; 
  color: #fff;
}
/* Style the table */
table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 80%;
  box-shadow: 0 0 20px hex(0xFF8F1AFD);
  background-color: #fff;
}

table th, table td {
  padding: 12px 15px;
  text-align: left;
}

table th {
  background-color: #6a17bd;
  color: #fff;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

